$colors: ( primaryColor: #5874b6, secondaryColor: #4d4c4f, );
$spacing: 1px;
@function color($color-name) {
    @return map-get($colors, $color-name);
}

$d1028: 1028px;
@mixin d1028 {
    @media (max-width: #{$d1028}) {
        @content;
    }
}

$tablet: 776px;
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

$phone: 525px;
@mixin phone {
    @media (max-width: #{$phone}) {
        @content;
    }
}

.filterContainer {
    width: 90vw;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}

.filterForm {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    grid-row-gap: .5rem;
    grid-column-gap: 40px;
    @include d1028() {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}

.formGroup {
    text-transform: capitalize;
    font-family: Barlow Condensed;
    font-size: 20px;
}

.formGroup label {
    display: block;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 0.5rem;
    @include phone() {
        margin-bottom: -.2em;
    }
}

.formControl {
    width: 100%;
    background: transparent;
    text-transform: capitalize;
    font-family: Barlow Condensed;
    font-size: 1.2rem;
}

@media screen and (min-width: 776px) {
    .filterForm {
        width: 90vw;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
}

@media screen and (min-width: 992px) {
    .filterForm {
        width: 95vw;
        /* max-width: 1170px; */
    }
}

.btnPrimary {
    height: 40px;
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    font-family: Barlow Condensed;
    font-size: 20px;
    letter-spacing: var(--mainSpacing);
    color: white;
    background: var(--primaryColor);
    padding: 0.2rem 0.9rem;
    border: 3px solid var(--primaryColor);
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
    @include phone {
        margin-top: 25px;
    }
}

.btnPrimary:hover {
    /* background: transparent; */
    background: white;
    color: var(--primaryColor);
}